.container {
    border-radius: 2px;
    position: absolute;
    top: 60px;
    right: 30px;
    background-color: #fff;
}

.container ul {
    box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
}

.container a {
    color: rgba(0,0,0,.5);
    font-size: 14px;
    padding: 6px 20px;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    text-decoration: none;
}


.container li {
    text-decoration: none;
    text-align: left;
    line-height: 1.4;
    border: 0;
}

.container li.seperator {
    margin: 10px 0;
}

.container div {
    position: absolute;
    top: -5px;
    right: 6px;
}

.container div::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    background-color: #fff;
    box-shadow: -1px -1px 1px -1px rgba(0,0,0,.54);
}