.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 65px;
    position: relative;
}

.container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(0,0,0,.2);
    z-index: -1;
}

.user-container {
    position: relative;
}

.user-image-container:hover #popup {
    display: block;
}