.tag-choice__container,
.tag-choice__wrapper {
	position: relative;
}

.tag-choice__container {
	width: 60%;
	margin: 10px 0;
}

.tag-choice__wrapper {
	min-height: 32px;
    border: 1px solid rgba(0,0,0,.25);
}

.tag-choice__wrapper:before,
.tag-choice__wrapper:after {
	content: ' ';
	display: table;
}

.tag-choice__wrapper:after {
	clear: both;
	visibility: hidden;
	font-size: 0;
	height: 0;
}

.tag-choice {
	width: 100%;
	position: absolute;
}

.tag-choice__item {
	height: 24px;
	float: left;
}

.tag-choice__item {
    position: relative;
    padding: 0 20px 0 10px;
    height: 28px;
    margin: 2px;
    line-height: 30px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}

.tag-choice__item__content {
    display: inline-block;
}

.tag-choice__item__remove {
    position: absolute;
    font-size: 12px;
    color: rgba(0,0,0,.45);
    vertical-align: baseline;
    text-align: center;
    top: -6px;
    right: 4px;
    cursor: pointer;
}

.tag-choice__carvet {
	width: 10px;
}

.isFocus {
	display: none;
}

.tag-choice__wrap {
}

.tag-choice__inline {
	height: 100%;
	outline: none;
	border: none;
	width: 0.75rem;
	background: transparent;
}

.tag-choice__mirror {
	position: absolute;
	top: 0;
	left: -99999px;
	white-space: pre;
	pointer-events: none;
}
