.tag-choice__container,
.tag-choice__wrapper {
    position: relative;
}

.tag-choice__container {
    display: inline-block;
}

.tag-choice {
    position: absolute;
}

.tag-choice__item {
    float: left;
}

.tag-choice__item {
  position: relative;
}
.tag-choice__item:not(:last-child):after {
  content: 'x';
  position: absolute;
  top: 0;
  right:0;
}

.tag-choice__carvet {
    width: 10px;
}

.isFocus {
    display: none;
}

.tag-options__wrapper {
    border: 1px solid green;
}
