.tag-choice__container,
.tag-choice__wrapper {
    position: relative;
}

.tag-choice__container {
    display: inline-block;
}

.tag-choice {
    position: absolute;
}

.tag-choice__item {
    float: left;
    border: 1px solid red;
    padding: 2px 6px;
    border-radius: 4px;
}

.tag-choice__carvet {
    width: 10px;
}

.isFocus {
    display: none;
}

.tag-options__wrapper {
    border: 1px solid green;
}
