.container {
  margin: 0 20px 10px;
  line-height: 1.4;
  font-size: 18px;
}

.container li {
  padding: 6px 0;
  box-sizing: border-box;
}

.container a {
  text-decoration: none;
}

.container span {
  font-size: 12px;
}